
/*
    File Uploader
*/
.file-uploader{
    border:1px solid #ccc;
    border-radius:5px;
    overflow:hidden;
    opacity:1;
    height:35px;
}

.file-uploader .progress-bar{
    position:absolute;
    height:5px;
    margin-left:37px;
    height:33px;
    margin-top:-35px;
    opacity:0.3;
    overflow:hidden !important;
    max-width:calc(100% - 68px) !important;
}

.file-uploader .filename{
    height:35px;
    font-size:16px;
    line-height:35px;
    color:#999;
    padding-left:50px;
}

.fileUpload{
    float:left;
}


